
.coursebox .content .summary, .coursebox .content .coursecat {
    float: right;
    width: 70%;
}
iv#yui_3_17_2_1_1593835644649_227 {
    position: absolute;
    display: contents;
}
.coursebox .content .courseimage img {
    max-width: 300px;
    max-height: fit-content;
}
.coursebox .content .teachers, .coursebox .content .courseimage, .coursebox .content .coursefile, .coursebox .content .customfields-container {
    width: 28%;
}
.content {
    width: 100%;
}
.coursebox {
    padding: 0.5rem;
    width: 100%;
}   