

#btn-drawer-on-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #059140;
    border-color: #059140;
}
.media-body {
    color: black;
}
.media-body:hover {
    color: #ffad00;
}
span.media-body.font-weight-bold {
    color: beige;
}

.dropdown-menu.show {
    display: block;
    background-color: #3a454b;
}
a.dropdown-item.menu-action {
    background-color: #3a454b;
}

