body{
    height: auto;
    margin: 42px;
    font-size: .9375rem;
    line-height: 1.5;
    background-image: url("../pix/screenshot.jpg");
}
@page {
    size: a3; 
}
*{
    box-sizing: border-box;
}
div{
    display: block;
}

#page {
    margin-top: 50px; 
}
#page-wrapper {
    background-color: #01903e;
    height: 100%;
    display: flex;
    flex-direction: column; }
    #page-wrapper #page {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column; }
      #page-wrapper #page #page-content {
        flex: 1 0 auto; }
    #page-wrapper #page-footer {
      flex-shrink: 0; }
#page_content{
    flex: 1 0 auto;
}
#region-main{
    border: 0;
    background-color: inherit;
    padding: 0;
    overflow-x: auto;
    overflow-y: visible;
}  



.container-fluid mt-0{
    background-size: cover;
    background-position: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
.col_12{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.justify-content-center {
    justify-content: center!important;
}

