body {
    height: auto;
    width: auto;
    margin: 52px;
    font-size: .9375rem;
    line-height: 1.5;
    background-image: url("../pix/screenshot.jpg");
    background-size: 100%;
    font-weight: bold;
    font-family: 'FrancoisOne', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
    margin: auto;
}

div {
    display: block;
}


/* ------------------id----------------------- */

#page {
    margin-top: 50px;
}

#page-wrapper {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 42px;
}

#page-wrapper #page {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

#page-wrapper #page #page-content {
    flex: 1 0 auto;
}

#page-wrapper #page-footer {
    flex-shrink: 0;
}

#page-content {
    flex: 1 0 auto;
}

#region-main {
    border: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: visible;
}


/* ----------------class------------------- */

.loginpanel {
    border-radius: 10px;
    border: none;
}

.container-fluid mt-0 {
    background-size: cover;
    background-position: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.form {
    padding: 20px 15px;
    height: 350px;
    max-height: 350px;
}

.col_12 {
    margin: auto;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-5 {
    flex: 0 0 41.6666666667%;
    position: relative;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    width: 842px;
    height: 440px;
    flex-direction: column;
    /* min-width: 0; */
    background-color: rgb(255, 255, 255);
    border-radius: 21px;
    background-clip: border-box;
    padding: 20px;
    /* border: 2.5px solid green;*/
}

.form-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.card-header {
    text-align: center;
    padding-bottom: 35px;
    font-size: 40px;
    color: #059140;
}

.my-4 {
    margin-bottom: 1.5rem!important;
    margin-top: 1.5rem!important;
}

.justify-content-center {
    justify-content: center!important;
}

.logo img {
    max-height: 200px;
    text-align: center;
}

.mt-2,
.sr-only,
.forgetpass {
    display: none;
}

button#loginbtn {
    margin-top: 10px;
    margin-left: 260px;
    border-radius: 54px;
}

div.mt-3:not(.rememberpass):not(.forgetpass) {
    display: none;
}

input#password,
input#username {
    background-color: #ffffffad;
    border: 2.5px solid green;
    margin: 15px;
    display: block;
    padding: 8px 15px;
    outline: none;
    width: 100%;
    font-size: 20px;
    border-radius: 25px;
    width: 700px;
}

button#loginbtn.btn-primary {
    width: 210px;
    height: 60px;
    border: none;
    background: #FBD467;
    font-size: 28px;
}

input#rememberusername {
    margin: 10px 2px 10px 15px;
}