
body{
    height: auto;
    margin: 42px;
    background-image: url("../pix/screenshot.jpg");
}

a{
background-color:transparent; 
color: white;  
padding: 8px;
text-decoration: none;
}
a:hover{
    background-color: #FFAF01; 
}

a:visited{
    background-color: #FFAF01; 
}


#page-header{
    display: flex;
    background-color: orange;
    float: right;
}

#page-header .card-body{
    display: flex;
    float: right;
    background-color: orange;
}
#always-on-top{
    border-top: solid #FFAF01 4px;
    background-color: #f1f1f1;
    display: block;
    height: 42px;
    align-items: center;
}

#always-on-top a{
    color: grey;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
}

#always-on-top a img{
    width: 100px;
    height: 100px;
}

#nav-header{
    height: 100px;
    background-color: white;
    display: block;
}

#nav-header h1{
    text-align: center;
    color: #03933C;
    width: 100%;
}

#nav-header .logo{
    float: left;
}
#nav-header .logo img{
    width: 100px;
    height: 100px;
}

#nav-header .login-block{
    float: right;
}

#nav-bar{
    height: 56px;
    width: 100%;
    background-color: #3A454B;
    display: block;
    align-items: center;
}


#nav-bar .nav-bar-left{
    float: left;
}


#nav-bar .nav-bar-right{
    float: right;
}

#nav-bar .nav-bar-right img{
    width: 24px;
    height: auto;
}   



#slider-bar{
    width: 100%;
    margin:  0 auto;
    height: 70%;
}
#slider-bar img{
    width: 100%;
    height: 30%;
}


#page-content{
    background-color: white;
}

#short-info{
display: flex;
width: 100%;
background-color: white;
}

#short-info .wellcome{
    padding: 8px;
    margin-left: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 32px;
    display: flex;
    width: 50%;
    background-color: #f1f2f3f4;
    border-left: solid  #FFAF01 4px;
}
#short-info .video{
    float: right;
    width: 45%;
}

*{
    margin: 0px;
    padding: 0px;
}


/* ------ iconbox -------- */
.iconbox{
display: grid;
grid-template-columns: auto auto auto auto;
background-color: #FEFFFD;
padding: 10px;
text-align: center;
}

.iconbox  .iconcircle img{
    margin-top: 10px;
    text-align: center;
}
.iconbox  .iconcircle{
    text-align: center;
    vertical-align: middle;
}

/*------ container --------*/
.container span{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 40px auto;
}
/*------ course --------*/
.course{
    margin: 30px;
}
.course .title{
    display: block;
    font-size: 30px;
    margin: 20px auto;
}
.course .content-course h3{
    margin: 20px auto;
}

.course .content-course button{
    margin: 30px 0px;
    padding: 8px;
    border: none;
    background-color: #ffad00;
    border-radius: 2px;
    color: rgb(43, 41, 43);

}
.course .content-course button:hover{
    color: white;
}
.line{
    width: 95.5%;
    height: 1px;
    background-color: #d3d6d8;
    margin: 30px 30px;
}
/* ----- Footer ----- */
.footer{
    margin: 30px;
    padding: 10px;
    font-weight: bold;
    color: rgb(255, 245, 245);
    border: 5px solid #000;
    border-color: #ffad00;
    border-width: 5px 0px 0px 0px;
    background-color: #353434;

}
.footer .contact{
float: left;
}
.footer .googlemap iframe{
width: 250px;
height: 250px;
margin: 0px 30px;

}
