@charset "UTF-8";
@font-face {
    font-family: 'FontAwesome';
    src: url("[[font:core|fontawesome-webfont.eot]]?v=4.7.0");
    src: url("[[font:core|fontawesome-webfont.eot]]?#iefix&v=4.7.0") format("embedded-opentype"), url("[[font:core|fontawesome-webfont.woff2]]?v=4.7.0") format("woff2"), url("[[font:core|fontawesome-webfont.woff]]?v=4.7.0") format("woff"), url("[[font:core|fontawesome-webfont.ttf]]?v=4.7.0") format("truetype"), url("[[font:core|fontawesome-webfont.svg]]?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrancoisOne';
    src: url('../fonts/FrancoisOne.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'FrancoisOne', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
    margin: 52px;
    padding: 18px;
    background-image: url("../pix/screenshot.jpg");
}

a {
    color: #3a454b;
    background-color: transparent;
    padding: 8px;
    text-decoration: none;
}

a:hover {
    color: #FFAF01;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#page-header {
    display: flex;
    background-color: orange;
    float: right;
}

#page-header .card-body {
    display: flex;
    float: right;
    background-color: orange;
}

.margin-15 {
    margin-left: 15px;
    margin-right: 15px;
}

#always-on-top {
    border-top: solid #FFAF01 4px;
    background-color: #f1f1f1;
    display: flex;
    height: 42px;
    align-items: center;
}

#always-on-top a {
    color: grey;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
}

#always-on-top a img {
    width: 100px;
    height: 100px;
}

#nav-header {
    height: 100px;
    background-color: white;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

#nav-header h1 {
    text-align: center;
    color: #03933C;
    width: 100%;
}

#nav-header .logo {
    float: left;
    height: 100%;
}

#nav-header .logo img {
    width: 100px;
    height: 100px;
}

#nav-header .login-block {
    float: right;
}

#nav-header .center {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#nav-bar {
    height: 56px;
    align-content: center;
    width: 100%;
    background-color: #3A454B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar .nav-bar-left {
    float: left;
}

#nav-bar .nav-bar-right {
    float: right;
}

#nav-bar .nav-bar-right img {
    width: 24px;
    height: auto;
}

#nav-bar a {
    color: white;
    text-decoration: none;
}

#nav-bar a:hover {
    color: #FFAF01;
    text-decoration: none;
    background-color: transparent;
}

#slider-bar {
    width: 100%;
    margin: 0 auto;
    height: 70%;
}

#slider-bar img {
    width: 100%;
    height: 30%;
}

#page-content {
    background-color: white;
}

#short-info {
    display: flex;
    width: 100%;
    background-color: white;
}

#short-info .wellcome {
    padding: 8px;
    margin-left: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 32px;
    display: flex;
    width: 50%;
    background-color: #f1f2f3f4;
    border-left: solid #FFAF01 4px;
}

#short-info .video {
    float: right;
    width: 45%;
}

* {
    margin: 0px;
    padding: 0px;
}


/* ------ iconbox -------- */

.iconbox {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #FEFFFD;
    padding: 10px;
    text-align: center;
}

.iconbox .iconcircle img {
    margin-top: 10px;
    text-align: center;
}

.iconbox .iconcircle {
    text-align: center;
    vertical-align: middle;
}


/*------ container --------*/

.container span {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 40px auto;
}


/*------ course --------*/

.course {
    margin: 30px;
}

.course .title {
    display: block;
    font-size: 30px;
    margin: 20px auto;
}

.course .content-course h3 {
    margin: 20px auto;
}

.course .content-course button {
    margin: 30px 0px;
    padding: 8px;
    border: none;
    background-color: #ffad00;
    border-radius: 2px;
    color: rgb(43, 41, 43);
}

.course .content-course button:hover {
    color: white;
}

.line {
    width: 95.5%;
    height: 1px;
    background-color: #d3d6d8;
    margin: 30px 30px;
}


/* ----- Footer ----- */

.use-footer {
    font-weight: bold;
    color: rgb(255, 245, 245);
    border: 5px solid #000;
    border-color: #ffad00;
    border-width: 5px 0px 0px 0px;
    background-color: #353434;
    margin-left: 15px;
    margin-right: 15px;
}

.use-footer .contact {
    float: left;
}

.use-footer .googlemap iframe {
    width: 250px;
    height: 250px;
    margin: 0px 30px;
}


/* Images Banner */

.info-container {
    width: auto;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

.info-container img {
    width: 90%;
    height: auto;
    margin: 10px;
}

.info-container .title {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

#page {
    margin-top: 0px
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}