{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <!-- fix stylesheet css -->                                                             
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/canary/style/base.css">                                                             
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/canary/style/drawer.css">
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/canary/style/moodle.css">         
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/canary/style/navigation.css">                                                             
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}
    {{> theme_canary/header }}
    {{> theme_canary/nav-drawer }}
    <div id="page" class="container-fluid d-print-block">
    {{#isloggedin}}
    {{/isloggedin}}
    {{^isloggedin}}
    {{> theme_canary/intro }}
    {{/isloggedin}}

        <div id="page-content" class="row pb-3 d-print-block">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}} aria-label="{{#str}}content{{/str}}">

                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                </section>

                {{#isloggedin}}
                {{#hasblocks}}
                <section data-region="blocks-column" class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
                {{/isloggedin}}
                {{^isloggedin}}
                {{/isloggedin}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
     {{#isloggedin}}
    {{> theme_boost/footer }}
   {{/isloggedin}}
   {{^isloggedin}}
    <div class="use-footer">
       <div class="contact">
        Liên hệ <br>
        Trường Đại học Đà Lạt <br>
        01 Phù Đổng Thiên Vương, Tp. Đà Lạt, Lâm Đồng. <br>
        Điện thoại: 0263.3822246 - Fax: 0263.3823380
       </div>

       <div class="googlemap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.2432215874314!2d108.43941201412592!3d11.957655139550141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112d008cff779%3A0xf3756df52e228ecf!2zNSDEkMaw4budbmcgVHLhuqduIEtow6FuaCBExrAsIFBoxrDhu51uZyA4LCBUaMOgbmggcGjhu5EgxJDDoCBM4bqhdCwgTMOibSDEkOG7k25nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1593670597182!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
       </div>
   </div>
   {{/isloggedin}}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
M.util.js_pending('theme_boost/drawer');
require(['theme_boost/drawer'], function(mod) {
    mod.init();
  M.util.js_complete('theme_boost/drawer');
});
{{/js}}
