 

<nav  aria-label="{{#str}}sitemenubar, admin{{/str}}">
     <div id="always-on-top">
        <a href="http://www.dlu.edu.vn/"> http://www.dlu.edu.vn/ </a>
        <a href="https://codepsoft.com">cps</a>
    </div>
    <div id="nav-header">
        <div class="logo">
        <a href="#">
        <img src="{{{config.wwwroot}}}/theme/canary/pix/logo.png">
        </a>
        </div>
        <h1>
        DALAT UNIVERSITY
        </h1>
        </div>
        <a href="{{{ config.wwwroot }}}" class="navbar-brand">
            <span class="site-name d-none d-md-inline">{{{ sitename }}}</span>
        </a>

        <ul class="navbar-nav d-none d-md-flex">
            <!-- custom_menu -->
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="d-none d-lg-block">
                {{{ output.search_box }}}
            </li>
            <!-- navbar_plugin_output -->
            <li class="nav-item">
                {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center">
                {{{ output.user_menu }}}
            </li>
        </ul>
       
    <!-- NAV BAR -->
    <div id="nav-bar">
    <div class="nav-bar-left"> 
    <a href="">DLU</a>
    <a href="">Khoa</a>
    </div>
    <div class="nav-bar-right">
    <a href="">
    <img src="theme/canary/pix/icon/search.svg">
    </a>
    </div>
    </div>
</nav>
