 <nav  aria-label="{{#str}}sitemenubar, admin{{/str}}">
     <div id="always-on-top">
        <a href="http://www.dlu.edu.vn/"> http://www.dlu.edu.vn/ </a>
        <a href="https://codepsoft.com">cps</a>
    </div>
    <div id="nav-header">
        <div class="logo">
        <a href="{{{config.wwwroot}}}">
        <img src="{{{config.wwwroot}}}/theme/canary/pix/logo.png">
        </a>
        </div>
        <div class="center">
        <h1>
        DALAT UNIVERSITY
        </h1>
        </div>

        <!-- <div class="login-block"> {{{ output.user_menu }}}   </div> -->
    </div>

    <!-- NAV BAR -->
    <div id="nav-bar">
    <div class="nav-bar-left"> 
    <a href="">DLU</a>
    <a href="">Khoa</a>
    <a href="">Tạo tài khoảng mới</a>
    </div>
    <div class="nav-bar-right">
    {{{ output.user_menu }}}    
    </div>    
</div>
</nav>
