{{{ output.doctype }}}                                                                                                              
<html {{{ output.htmlattributes }}}>                                                                                                
<head>                                                                                                                              
    <title>{{{ output.page_title }}}</title>                                                                                        
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />  
    <!-- fix stylesheet css -->       
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/canary/style/login.css">                                                             
    {{{ output.standard_head_html }}}                                                                                               
    <meta name="viewport" content="width=device-width, initial-scale=1.0">                                                          
</head>                                                                                                                             
           
<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12" aria-label="{{#str}}content{{/str}}">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
    <footer id="page-footer" class="py-3 bg-dark text-light">
        <div class="container">
            <div id="course-footer">{{{ output.course_footer }}}</div>

            {{# output.page_doc_link }}
                <p class="helplink">{{{ output.page_doc_link }}}</p>
            {{/ output.page_doc_link }}

            {{{ output.login_info }}}
            {{{ output.home_link }}}
            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
        </div>
    </footer>
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
