{{{ output.doctype }}}                                                                                                              
<html {{{ output.htmlattributes }}}>                                                                                                
<head>                                                                                                                              
    <title>{{{ output.page_title }}}</title>                                                                                        
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />  
    <!-- fix stylesheet css -->       
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/canary/style/login.css">                                                             
    {{{ output.standard_head_html }}}                                                                                               
    <meta name="viewport" content="width=device-width, initial-scale=1.0">                                                          
</head>   

<body {{{ bodyattributes }}}>    
{{> core/local/toast/wrapper}}   

    <div class="row justify-content-center logo">     
    <img src="{{{ config.wwwroot }}}/theme/canary/pix/logo.png">
    </div>
    
 <div id="page-wrapper">
    <div >
        {{{ output.standard_top_of_body_html }}}
    </div>
        <div id="page-content">   
            <div>
                <section id="region-main" class="col-12" aria-label="{{#str}}content{{/str}}">
                    {{{ output.main_content }}}
                </section>
        </div>
    </div>

</div> 

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
