{{{ output.doctype }}}                                                                                                              
<html {{{ output.htmlattributes }}}>                                                                                                
<head>                                                                                                                              
    <title>{{{ output.page_title }}}</title>                                                                                        
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />  
    <!-- fix stylesheet css -->       
    <link rel="stylesheet" type="text/css" href="{{{ config.wwwroot }}}/theme/canary/style/login.css">                                                             
    {{{ output.standard_head_html }}}                                                                                               
    <meta name="viewport" content="width=device-width, initial-scale=1.0">                                                          
</head>                                                                                                                             
           
<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}
    <img src="theme/canary/pix/logo.png">

    <div id="page" class="container-fluid mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12" aria-label="{{#str}}content{{/str}}">
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
 
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
