{{#isloggedin}}
<div id="btn-drawer-on-top">
    <div data-region="drawer-toggle" class="d-inline-block mr-3">
    <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-light" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
    <img src="{{{ config.wwwroot }}}/theme/canary/pix/images/menu.png" width="24px">
    </button>
</div>
</div>
    {{/isloggedin}}
    {{^isloggedin}}
    {{/isloggedin}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    {{> theme_canary/flat_navigation }}

</div>